@import '../../styles/index.scss';
$button-prefix: '#{$prefix}-button';

.#{$button-prefix} {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  height: 40px;
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 40px;
  text-align: center;
  border-radius: 20px;
  cursor: pointer;
  transition: opacity 0.2s;
  -webkit-appearance: none;

  &::before {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    background-color: $color-white;
    border: inherit;
    border-color: $color-white;
    border-radius: inherit; /* inherit parent's border radius */
    transform: translate(-50%, -50%);
    opacity: 0;
    content: ' ';
  }

  &:active::before {
    opacity: 0.1;
  }

  &--loading,
  &--disabled {
    &::before {
      display: none;
    }
  }

  &--primary {
    color: $color-white;
    background-color: $color-primary;
    border: none;
  }

  // &--secondary {
  //   color: $color-primary;
  //   background-color: $color-white;
  //   border: 2px solid $color-primary;
  // }

  &--default {
    color: $color-primary;
    background-color: $color-white;
    border: $color-primary solid 2px;
  }

  &--danger {
    color: $color-red;
    background-color: $color-white;
    border: $color-red solid 2px;
  }

  &--warning {
    color: $color-blue;
    background-color: $color-white;
    border: $color-blue solid 1px;
  }

  &--plain {
    background-color: $color-bg-streak;
    color: $color-black;
    border: none;

    &.#{$button-prefix}--primary {
      color: $color-primary;
    }

    &.#{$button-prefix}--danger {
      color: $color-red;
    }

    &.#{$button-prefix}--warning {
      color: $color-blue;
    }

  }

  &--large {
    width: 100%;
    height: 50px;
    line-height: 50px;
    border-radius: 25px;
  }

  &--normal {
    padding: 8px 20px;
    font-size: $font-size-normal;
  }

  &--small {
    height: 28px;
    line-height: 28px;
    padding: 4px 9px;
    font-size: $font-size-sm;
  }

  &__loading {
    color: inherit;
    font-size: inherit;

    .#{$prefix}-loading__spinner {
      color: currentColor;
      width: 20px;
      height: 20px;
    }
  }

  &--mini {
    height: 20px;
    padding: 4px 9px;
    font-size: $font-size-mini;

    & + .#{$button-prefix}--mini {
      margin-left: 5px;
    }
  }

  &--block {
    display: block;
    width: 100%;
  }

  &--bold {
    font-weight: 700;
  }

  &--disabled {
    cursor: not-allowed;
    opacity: 0.7;
  }

  &--loading {
    cursor: default;
  }

  // align-items are ignored when flex container is a button in legacy safari
  // see: https://bugs.webkit.org/show_bug.cgi?id=169700
  &__content {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;

    // fix icon vertical align
    // see: https://github.com/youzan/vant/issues/7617
    &::before {
      content: ' ';
    }
  }

  &__icon {
    display: inline-flex;
    align-items: center;
    line-height: inherit;
  }

  &__icon + &__text,
  &__loading + &__text,
  &__text + &__icon,
  &__text + &__loading {
    margin-left: 5px;
  }
}
