$prefix: 'l0k-swap';

$mobile-size: 768px;

// colors
$color-primary: #3bc6a5;
$color-red: #cc1010;
$color-blue: #2069d7;
$color-nav-blue: #1c77ff;
$color-orange: #fe5b00;
$color-yellow: #fcda4c;
$color-white: #fff;
$color-black: #000;

// text-colors
$color-primary-text: #111111;
$color-secondary-text: #666666;
$color-description-text: #999999;
$color-transparent-text: #ccc;

// bg-colors
$color-bg-streak: #eaeaea;
$color-bg-secondary: #f2f2f2;
$color-bg-transparent: #ccc;

$color-overlay: rgba($color-primary-text, 0.4);

// fonts
$font-size-mini: 12px;
$font-size-sm: 14px;
$font-size-normal: 16px;
$font-size-md: 20px;
$font-size-lg: 28px;
