$prefix: 'l0k-swap';

// colors
$color-primary: #3bc6a5;
$color-red: #cc1010;
$color-blue: #2069d7;
$color-orange: #fe5b00;
$color-yellow: #fcda4c;
$color-white: #fff;

// text-colors
$color-primary-text: #111111;
$color-secondary-text: #666666;
$color-description-text: #999999;
$color-transparent-text: #ccc;

// bg-colors
$color-bg-streak: #eaeaea;

// fonts
$font-size-sm: 12px;
$font-size-normal: 16px;
$font-size-md: 20px;
$font-size-lg: 28px;
